@model CheeseMVC.ViewModels.AddMenuItemViewModel
<h1>Add Menu Item</h1>
<p>@Model.Menu.Name</p>


<form asp-controller="Menu" asp-action="AddItem" method="post">
	<div class="form-group">
		<label asp-for="CheeseID"></label>
		<select asp-for="CheeseID" asp-items="Model.Cheeses"></select>
		<input type="hidden" name="MenuID" value="@Model.Menu.ID" />
		<span asp-validation-for="CheeseID"></span>

	</div>
	<input type="submit" value="Add Menu Item" />
</form>
